$white: #fff;
$white-darken: #fbfbfb;

$grey: #424242;
$grey_light: #e3e3e3;

$black: #000;

$blue_dark: #3b4b54;
$blue_darker: #445459;
$blue_grey: #9ea5aa;

$yellow: #ffff00;
$yellow_dark: #FFF013;

