/*================= Content ============== */

.banner {
    background: url(../images/lab_bg_digital.jpg) no-repeat;
    background-size: contain;
    background-position: 70%;
    
    .container--banner {
        padding: 45px 0;
        @media (min-width: 768px) {
            padding: 85px 0;
        }
    }

    &__content {
        color: $white-darken;
        background: $blue_dark;
        padding: 10px;

        &--second {
            @media (min-width: 768px) {
                float: right !important;
            }
        }
    }
    &__img {
        display: none;

        img {
            border-radius: 10px;
        }
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.circle-bg {
    background: url(../images/circles.png) no-repeat;
    background-size: cover;
    background-position: 100%;

    & > div {
        background: rgba($white,.2);
    }
}

// Content 
.content-section {
    padding: 20px 0;
    @media (min-width: 768px) {
        padding: 80px 0;
    }
}

.content {
    &-title {
        font-size: 30px;
        margin: 40px 0;
    }

    &-subtitle {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}


.cards {
    padding: 0;
}

.content-card {
    
    &__thumb {
        position: relative;
        text-align: center;
        margin: auto;
        img {
            height: auto;
            max-width: 100%;
            max-height: 90%;
        }
    }
    &__title {
        text-align: center;
        color: $yellow;
        font-weight: 300;
        font-size: 17px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;

        @include transition(background, .3s);

        @media (min-width: 768px) {
            font-size: 20px;
        }

        &:hover {
        }

        span {
            
            font-size: 20px;
        }
    }
}

form {
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        background: $grey_light;
        color: $blue_grey;
        display: block;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        border: none;
        border-bottom: 2px solid $yellow;

        &:focus {
            outline: none;
        }
    }

    select {
        background: $grey_light;
        color: $blue_grey;
        display: block;
        width: 100%;
        padding: 10px;
        margin: 15px 0 30px;
        border: none;
    }
}